body {
  margin: 0;
  font-family: Inter;
  width: 100vw;
  position: absolute;
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  align-items: center;
  height: 56px;
  position: fixed;
  top: 0;
  width: calc(100% - 64px);
  background-color: white;
  z-index: 2;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  color: rgb(23, 26, 32);
  z-index: 2;
}
.midle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.mid-txt {
  color: rgb(23, 26, 32);
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  z-index: 2;
}
.mid-txt:hover {
  border: 1px solid none;
  border-radius: 4px;
  background-color: rgba(23, 26, 32, 0.05);
}
.icons {
  display: flex;
  gap: 4px;
  margin-right: 16px;
  z-index: 2;
}
.icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(23, 26, 32);
}
.icon:hover {
  border: 1px solid none;
  border-radius: 4px;
  background-color: rgba(23, 26, 32, 0.05);
}
.header-hover {
  opacity: 0;
  background-color: white;
  transform: translateY(-100px);
  width: 100%;
  display: flex;
  margin-top: 56px;
  padding: 64px 0;
  justify-content: center;
  gap: 60px;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s ease;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.03);
}
.hover-left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}
.left-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  aspect-ratio: 5/4;
  max-width: 220px;
}
.left-img {
  max-width: 220px;
}
.left-txt {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.left-txt1 {
  color: rgb(23, 26, 32);
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}
.left-txt2 {
  display: flex;
  margin-top: 8px;
  gap: 16px;
  color: rgb(57, 60, 65);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
}
.hover-mid {
  height: 484px;
  width: 1px;
  background-color: rgb(226, 227, 227);
}
.hover-right {
  height: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 12px;
  align-items: flex-start;
  gap: 12px;
  color: rgb(23, 26, 32);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.overlay {
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: -1;
  transition: 1s ease;
}
#txt1:hover ~ #hover1 {
  opacity: 1;
  transform: translateY(0);
}
#txt2:hover ~ #hover2 {
  opacity: 1;
  transform: translateY(0);
}
#txt3:hover ~ #hover3 {
  opacity: 1;
  transform: translateY(0);
}
#txt4:hover ~ #hover4 {
  opacity: 1;
  transform: translateY(0);
}
#txt5:hover ~ #hover5 {
  opacity: 1;
  transform: translateY(0);
}
#txt1:hover ~ .overlay {
    display: block;
}
#txt2:hover ~ .overlay {
    display: block;
}
#txt3:hover ~ .overlay {
    display: block;
}
#txt4:hover ~ .overlay {
    display: block;
}
#txt5:hover ~ .overlay {
    display: block;
}
.head1 {
  margin-top: 20px;
  margin-bottom: 14px;
  color:  rgb(92, 94, 98);
  font-weight: 400;
}
.hov-2 {
  height: 228px;
}
.hov-3 {
  height: 395px;
}
.hov-4 {
  height: 334px;
  padding: 8px 0 32px 0;
}
.hov4-1 {
  padding: 20px 0;
  gap: 150px;
}
.main1 {
  margin-top: 56px;
  height: 880px;
  width: 100vw;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  display: flex;
}
.video {
  height: 100%;
  min-width: 100%;
  scroll-snap-align: center;
  position: relative;
}
.main1-vid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
}
.main1-det {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} 
.main1-txt1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  text-align: center;
}
.main1-txt2 {
  margin-top: 4px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
.main1-button {
  margin-top: 24px;
  display: flex;
  gap: 8px;
}
.main1-button1 {
  height: 40px;
  width: 200px;
  color: white;
  background-color: rgb(62, 106, 225);
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main1-button2 {
  height: 40px;
  width: 200px;
  color: rgb(57, 60, 65);
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul {
  text-decoration: underline;
}
.pic {

}