body {
    margin: 0;
    font-family: Inter;
    width: 100vw;
    position: absolute;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
    align-items: center;
    height: 56px;
    position: fixed;
    top: 0;
    width: calc(100% - 64px);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    color: rgb(23, 26, 32);
}
.midle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-txt {
    color: rgb(23, 26, 32);
    padding: 4px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.mid-txt:hover {
    border: 1px solid none;
    border-radius: 4px;
    background-color: rgba(23, 26, 32, 0.05);
}
.icons {
    display: flex;
    gap: 4px;
    margin-right:  16px;
}
.icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 26, 32);
}
.icon:hover {
    border: 1px solid none;
    border-radius: 4px;
    background-color: rgba(23, 26, 32, 0.05);
}
.header-hover {
    width: 100%;
    height: 484px;
    display: flex;
    margin-top: 56px;
    padding: 64px 28px;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    border-bottom: 1px solid none;
    box-shadow: 0 30px 30px -5px rgba(0,0,0,0.03);
}
.hover-left {
    width: calc(55%);
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 16px;
}
.left-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    aspect-ratio: 5/4;
    max-width: 220px;
}
.left-img {
    max-width: 220px;
}
.left-txt {
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.left-txt1 {
    color: rgb(23, 26, 32);
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
}
.left-txt2 {
    display: flex;
    margin-top: 8px;
    gap: 16px;
    color: rgb(57, 60, 65);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: underline;
}
.hover-riht {
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
    gap: 12px;
}
test